* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: bisque;
  margin: 0;
  padding: 2em;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.35rem;
}

label,
input,
textarea {
  padding: 0.45em;
  display: block;
}

input,
textarea {
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 0.85em;
  width: 15em;
}

button {
  background-color: #333;
  padding: 0.5em 1.25em;
  color: bisque;
  border-radius: 5px;
}

button:hover {
  background-color: darkslategray;
}

body {
  background: bisque;
}

.users {
  padding: 20px;
  margin-top: 20px;
  background: azure;
  width: 500px;
}

.notes {
  padding: 20px;
  margin-top: 20px;
  background: azure;
  width: 1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font: menu;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: darkslategray;
}
