<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <title>Title</title>
</head>
<body>

<div th:fragment="banner">
  <h1 class="logo">NoteShare</h1>
  <nav>
    <ul>
      <li><a th:classappend="${page == 'newNote' ? 'active' : ''}" href="http://localhost:8080/newNote">New note</a>
      </li>
      <li><a th:classappend="${page == 'viewNotes' ? 'active' : ''}"
             th:href="@{http://localhost:8080/{username}/viewNotes(username = ${username})}">View notes</a>
      </li>
      <li><a th:classappend="${page == 'users' ? 'active' : ''}"
             href="http://localhost:8080/viewUsers">Users</a>
      </li>
    </ul>
  </nav>
  <nav th:insert="${logged_in} ? ~{_fragments::logged_in} : ~{_fragments::not_logged_in}">
  </nav>
</div>

<ul th:fragment="not_logged_in">
  <li><a href="http://localhost:8080/users/signUp">Sign up</a>
  </li>
  <li><a href="http://localhost:8080/users/login">Login</a>
  </li>
</ul>
<ul th:fragment="logged_in">
  <li><a href="#" th:text="'Logged in as: ' + ${username}"></a>
  </li>
  <li><a href="http://localhost:8080/logout">Log out</a>
  </li>
</ul>

</body>
</html>
