<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="styleSheet" href="/style/style.css">
  <title>NoteHub</title>
</head>
<body>
<header th:insert="~{_fragments::banner}"></header>
<main>
  <h2>NoteHub</h2>
  <a class="note_link" th:each="note: ${allNotes}"
     th:href="@{http://localhost:8080/noteHub/{title}(title = ${note.getTitle()})}">
    <article class="notes">
      <h2 th:text="${note.getTitle()}"></h2>
      <p th:text="${note.getText().length() < 40 ? note.getText() : note.getText().substring(0, 40) +'...'}"></p>
      <h4 th:text="${note.getUsers()}"></h4>
    </article>
  </a>
</main>
</body>
</html>
