<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="styleSheet" href="/style/style.css">
  <title>NoteShare - Note</title>
</head>
<body>
<header th:insert="~{_fragments::banner}"></header>
<main>
  <form id="form" class="notes">
    <h2 th:text="${note.getTitle()}"></h2>
    <label for="note_text"></label>
    <textarea th:text="${note.getText()}" name="note_text" id="note_text" cols="30" rows="10"></textarea>
    <label for="add_users"></label>
    <textarea id="add_users" th:text="${note.getUsersAsString()}"></textarea>


    <h4 id="note_users" th:text="${note.getUsersAsString()}"></h4>

    <input type="hidden" name="note_id" id="note_id" th:value="${note.getId()}">
    <input type="hidden" name="note_title" id="note_title" th:value="${note.getTitle()}">
    <button type="submit">Save</button>
    <button id="delete_button">Delete</button>
    <button id="share_button">Share on NoteHub</button>
  </form>
</main>
<script type="module" src="https://www.unpkg.com/multi-checkbox/multi-checkbox.js"></script>
<script src="/script/editNote.js"></script>
</body>
</html>
