<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="styleSheet" href="/users.css">
  <title>NoteShare-Users</title>
</head>
<body>
<h1>
  NoteShare Users
</h1>
<table>
  <tr>
    <td th:text="Id"></td>
  </tr>
  <tr>
    <td th:text="Name"></td>
  </tr>
  <tr>
    <td th:text="Usernaem"></td>
  </tr>
</table>
<div class="test" th:each="user: ${allUsers}">
  <table>
    <tr>
      <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
      <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
      <td th:text="${user.getName()}"></td>
    </tr>

  </table>
</div>
</body>
</html>
