<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="styleSheet" href="/style/style.css">
  <title>NoteShare - Notes</title>
</head>
<body>
<header th:insert="~{_fragments::banner}"></header>
<main>
  <h2>NoteShare Notes</h2>
  <article class="notes" th:each="note: ${allNotes}">
    <h2 th:text="${note.getTitle()}"></h2>
    <p th:text="${note.getText()}"></p>
    <h4 th:text="${note.getUsers()}"></h4>
  </article>
</main>
</body>
</html>
